@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,500);

/* @font-face {
    font-family: custom;
    src: url('/pigeon/main.ttf');
} */

body {
    font-family: custom, 'Raleway', sans-serif;
    font-weight: 400;
    /* background-image: url(https://api.mz-moe.cn/img.php);
    backdrop-filter: saturate(180%) blur(10px); // fixed bug here
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.hljs {
    background: unset;
}

.headimg {
    width: 90px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: top;
}

.headimg img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.headimg img:hover {
    transform: rotate(360deg);
    transition-delay: 0.2s;
    transition-duration: 1s;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}

#pagecontent table {
    font-size: 14px;
}

.right-btn {
    width: 100%;
}

.loginhead {
    border-radius: 50%;
    width: 70%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.message {
    padding: 12px;
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-bottom: 26px;
    padding-bottom: 2px;
    display: inline-block;
    overflow: hidden;
}

.message:hover {
    background-color: #F0F0F0;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
}

.hoverdisplay {
    opacity: 0;
}

.hoverdisplay:hover {
    opacity: 1;
}

#alert_success,
#alert_danger {
    display: none;
}

.newpost {
    width: 100%;
    height: 80px;
    min-width: 100%;
    max-width: 100%;
    min-height: 80px;
    max-height: 256px;
}

* {
    transition-duration: 0.5s;
}

.logo h2 a {
    color: #000;
    text-decoration: none;
}

#mdcontent {
    display: none;
}

.thread img {
    vertical-align: text-bottom ! important;
    max-width: 100% ! important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.thread table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-bottom: 8px;
}

.thread table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.thread table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.thread table th,
.thread table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    font-size: 14px;
}

.thread pre {
    margin-bottom: 0px;
    margin-top: -10px;
    margin-left: -12px;
    margin-right: -12px;
    background: #e6e6e6;
    border-radius: 0px;
    border-left: 4px solid #9e9e9e ! important;
}

pre {
    border: none ! important;
}

blockquote {
    font-size: 15px ! important;
    padding: 0px 20px 0px;
    margin: 0 0 10px;
}

.thread {
    word-break: break-all;
    white-space: pre-wrap;
}

.thread ul li {
    margin: -5px 0px -5px 0px;
}

.thread ol li {
    margin: -5px 0px -5px 0px;
}

ol,
ul {
    margin-top: -15px;
    margin-bottom: 0px;
}

#imgscan {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 999999999;
}

.imgcontent {
    width: 100%;
    height: 100%;
    display: table;
}

.imgrow {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.message img {
    cursor: pointer;
}

.messagebg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999999999;
    background: rgba(0, 0, 0, 0.75);
}

.messagebg .messagebox {
    width: 512px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: #FFF;
    box-shadow: 0px 0px 20px #000;
    border-radius: 8px;
    padding-bottom: 20px;
    max-height: 90%;
    overflow-y: auto;
}

@media screen and (max-width:512px) {
    .messagebg .messagebox {
        width: 90%;
    }
}

.messagebg .messagebox table {
    width: 90%;
    margin: auto;
}

.close-msg {
    float: right;
    transition-duration: 0.5s;
    cursor: pointer;
}

.close-msg:hover {
    color: rgb(51, 122, 188);
}

.editpost {
    min-height: 256px;
    height: 256px;
}